header {
  background-color: #000324;
  color: white;
  text-align: center;
}

main {
  background-color: #696969;
  padding: 1em;
}

/* body {
  background-image: url(record.png)
} */

body {

  /* body {
    background-image: url(record.png)
  } */

  background: url(../assignment/record.png);
  margin: 0;
}

p{
  color: white;
}

ul{
  background-color: black;
  color: white;
}
